@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
/* Definición de una animación llamada 'appearFromCenter' */
@keyframes appearFromCenter {
    /* Definición del estado inicial */
    from {
      opacity: 0; /* Opacidad al principio: totalmente transparente */
      transform: translateY(-50px); /* Desplazamiento hacia arriba: -50px (media altura del elemento) */
    }
    /* Definición del estado final */
    to {
      opacity: 1; /* Opacidad al final: completamente visible */
      transform: translateY(0); /* Sin desplazamiento vertical */
    }
  }
  
  /* Estilo para el texto con la animación */
  .typing-text {
    opacity: 0;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
    animation: appearFromCenter 3s ease forwards;
  }


 /*zoom-in para imagenes*/
  .zoom-effect {
    transition: transform 0.3s;
  }
  
  .zoom-effect:hover {
    transform: scale(1.1);
  }
  


  